body {
    font-family: sans-serif;
    text-align: center;
}


#carousel-images {
    height: 30rem;
    width: 100%;
    max-width: 50%;
    margin: 2rem auto;
}

#carousel-images img {
    height: 30rem;
    object-fit: cover;
}

#newsletter-signup {
    max-width: 30rem;
    margin: 4rem auto;
}

section {
    width: 100%;
    max-width: 50%;
    margin: 2rem auto;
}

#main-image {
    width: 100%;
    width: 30rem;
}